<html lang="en">
<head>
    <meta charser="UTF-8" >
    <meta name="vierport" content="width=device-width, instal-scale=1.0%">
    <title>FlexBox</title>
    <link rel="stylesheet" href="/static/css/Flexbox.css">
    <title> Registro </title>
</head>
    <body>
        <main class="caja">
            <div class="Ofertas">
                <p>Ofertas</p>
            </div>

            <div class="Celular">
                <p>Celular</p>
            </div>

            <div class="Tv smart">
                <p>Tv smart</p>
            </div>

            <div class="Tv smart">
                <p>Tv smart</p>
            </div>
        </main>    
    </body>
</html>    