<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charser="UTF-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Tu tienda </title>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/index.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
    <body>
        <header>
            <nav class="navbar">
                <a href="/" class="brand-link">
                <img class="logo" src="/static/images/logo-mercado-liebre.svg" alt="aqui va el logo">
                </a>
            <p class="titulo1">Comprá en cuotas y sin tarjeta de crédito</p>
    <main>    
        <section class="navbar">
            <a href="/" class="brand-link"></a>
            <img class="navbar" src="/static/images/img-home-banner.jpg">

            <ul class="main-heder-menu-left">
                <a href="/registro">
                    <button title="Login" class="btn-standard"><i class="fa fa-sign-in-alt"></i>Registro</button>
                </a>
                <a href="/login">
                    <button title="Login" class="btn-standard"><i class="fa fa-sign-in-alt"></i>iniciar seccion</button>
                </a>
                <li>
                    <a href="/carrito" title="Carrito" class="btn-standard" ><i class="fa fa-shopping-cart"></i></a>
                </li>
            </ul>
            <ul class="main-heder-menu-left">
                <a href="/ofertas">
                    <button title="Login" class="btn-standard"></i>Ofertas</button>
                </a>
                <a href="/tiendas-oficiales">
                    <button title="Login" class="btn-standard"></i>Tiendas oficiales</button>
                </a>
                <a href="/vender">
                    <button title="Login" class="btn-standard"></i>Vender</button>
                </a>
                <a href="/ayuda">
                    <button title="Login" class="btn-standard"></i>Ayuda</button>
                </a>
            </ul>
            <div class="search-bar"><input type="search" placeholder="Buscar"><button><i class="fas fa-search"></i></button></div>
            
        <a href="#" class="navbar__burger">
            <i class="fas fa-bars"></i>
        </a>
    </main>
<header>
    <main>
       
            <h3 class = "titulo">Ofertas</h3>
            <img src="/static/images/img-cafetera-moulinex.jpg" width="25%" alt="Ofetas">
            <p class = "">• Jarra en vidrio</p>
            <p class = "precio"> $400.000</p>
            <p class = "Oferta">40%</p>
            
        </section>
    </main>
    </header>

    <header>

        <main>
            <section class = "flex-container">
                <h3 class = "titulo">Celular</h3>
                <img src="/static/images/img-samsung-galaxy-s10.jpg" width="30%" alt="Celular">
            <p class = "precio"> $900.000</p>
              
            </section>
        </main>

        </header>
    <header>
    <main>
        <section class = "flex-container">
            <h3 class = "titulo">Tv smart</h3>
            <img src="/static/images/img-tv-samsung-smart.jpg" width="25%" alt="TV smart">
           
            <p class = "precio"> $800.000</p>
        </section>
    </main>

    <header>
        <main>
            <section class = "caja">
                <h3 class = "titulo">Macbook</h3>
                <img src="/static/images/img-macbook-pro-2019.jpg" width="25%" alt="MacBook">
                <p class = "precio"> $5.400.000</p>
            </section>
        </main>
        </header>
    </header>
    <footer class ="pie">
        Diseñado como prueba de aprendisaje | Derechos reservados Copyright 021
    </footer>
</div>  
</header> 
</body> 
</html>