<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charser="UTF-8" >
        <title> Tu tienda </title>
        <meta name="vierport" content="width=device-width, instal-scale=10%" >
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel= "stylesheet">
        <link rel="stylesheet" href="styles.css"  type="text/html">
    </head>
<body>
<header class="site-header">
    <div class="header-content">
        <div class="top-header">
            <img src="/static/images/logo-mercado-liebre.svg"> 
            <form>
                <input type="search" placeholder="Buscar...">
                <button><i class="fas fa-search"></i></button>
              </form>
              <p>
                <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito
              </p>
<header>
    <main>
        <section class = "caja">
            <h3 class = "titulo">Menu</h3>
                <img src="/static/images/img-home-banner.jpg" width="80%" alt="TV smart">
        </section>
    </main>
</header>
    </div>
        <nav class="header-navbar">
          <ul class="menu-navbar">
            <li>Ofertas</li>
            <li>Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
          </ul>
        <ul class="user-navbar">
            <li><a href="/registro">Creá tu cuenta <i class="far fa-id-card"></a></i></li>
            <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></a></i></li>
            <li>Mis compras <i class="fas fa-shopping-basket"></i></li>
            </ul>
         
    <header>
    <main>
        <section class = "flex-container">
            <h3 class = "titulo">Ofertas</h3>
            <img src="/static/images/img-cafetera-moulinex.jpg" width="25%" alt="Ofetas">
            <p class = "">• Jarra en vidrio</p>
            <p class = "precio"> $400.000</p>
            <p class = "Oferta">40%</p>
            
        </section>
    </main>
    </header>

    <header>

        <main>
            <section class = "flex-container">
                <h3 class = "titulo">Celular</h3>
                <img src="/static/images/img-samsung-galaxy-s10.jpg" width="30%" alt="Celular">
            <p class = "precio"> $900.000</p>
              
            </section>
        </main>

        </header>
    <header>
    <main>
        <section class = "flex-container">
            <h3 class = "titulo">Tv smart</h3>
            <img src="/static/images/img-tv-samsung-smart.jpg" width="25%" alt="TV smart">
           
            <p class = "precio"> $800.000</p>
        </section>
    </main>

    <header>
        <main>
            <section class = "caja">
                <h3 class = "titulo">Macbook</h3>
                <img src="/static/images/img-macbook-pro-2019.jpg" width="25%" alt="MacBook">
                <p class = "precio"> $5.400.000</p>
            </section>
        </main>
        </header>
    </header>
    <footer class ="pie">
        Diseñado como prueba de aprendisaje | Derechos reservados Copyright 021
    </footer>
</div>  
</header> 
</body> 
</html>