<html lang="en">
<head>
    <meta charser="UTF-8" >
    <meta name="vierport" content="width=device-width, instal-scale=20%" >
    <link rel="stylesheet" href="/static/css/login.css">
    <title> login </title>
</head>
<body>
    <form action="/login" method="POST">
        <div class="imput">

<header class="site-header">
    <div class="header-content">
        <div class="top-header">
            <img src="/static/images/logo-mercado-liebre.svg"> 
            <form>
            <input type="search" placeholder="Buscar...">
            <button><i class="fas fa-search"></i></button>
            </form>
<header>            

            <div class="imput">
                <label for="nombre de usuario">Nombre de usuario</label>
                <input type="text" name="Nombre de usuario" placeholder="Ingrese su usuario">
                </div>

            <div class="imput">
                <label for="nombre de usuario">contraseña</label>
                <input type="text" name="Contraseña" placeholder="Contraseña">
                </div>    

            <div class="imput">
                <button type="reset">Borrar</button>
                <button type="submit">guardar"</button>
                 </div>
    </form>    

</body>