<html lang="en">
<head>
    <meta charser="UTF-8" >
    <meta name="vierport" content="width=device-width, instal-scale=20%" >
    <link rel="stylesheet" href="/static/css/registro.css">
    <title> registro </title>
</head>

<body>
    <form action="/login" method="POST">
        <div class="imput">

<header class="site-header">
    <div class="header-content">
        <div class="top-header">
            <img src="/static/images/logo-mercado-liebre.svg"> 
            <form>
            <input type="search" placeholder="Buscar...">
            <button><i class="fas fa-search"></i></button>
            </form>
<header>            

            <div class="imput">
                <label for="nombres">nombres</label>
                <input type="text" name="Nombre de usuario" placeholder="Ingrese sus nombres">
            </div>

            <div class="imput">
                <label for="apellidos">apellidos</label>
                <input type="text" name="Apellidos" placeholder="Ingrese sus Apellidos">
            </div>
            
            <div class="imput">
                <label for="edad">edad</label>
                <input type="number" name="edad" placeholder="Ingrese tu edad">
            </div>
            
            <div class="imput">
                <label for="Fecha de nacimiento">fecha de nacimiento</label>
                <input type="date" name="fecha de nacimiento" placeholder="Ingrese tu fecha de nacimineto">
            </div>

            <div class="radio">
                <label for="sexo">sexo</label>
                <br>
                <input type="radio" name="sexo"> 
                <label for="sexo">Masculino</header>
                <input type="radio" name="sexo"> 
                <label for="sexo">Femenino</header>
                <input type="radio" name="sexo"> 
                <label for="sexo">prefiero no especificar</header>
            </div>
            

            <div class="imput">
                <label for="nombre de usuario">contraseña</label>
                <input type="text" name="Contraseña" placeholder="Contraseña">
                </div>    

            <div class="imput">
                <button type="reset">Borrar</button>
                <button type="submit">guardar"</button>
                 </div>
    </form>    
</body>
