*{
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
}
.flex-comtainer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(17, 9, 14); 
    padding: 10px;
    border:2px solid black;
}
.flex-comtainer{
        background-color: brown;
        width:1000px;
        margin: 10px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
        border: black;
}
body {
    background-color: rgb(219, 223, 21);
}
.menu{
    background-color: rgb(226, 226, 25);
    height: 180px;
    margin: 5%;
    border-radius: 20%;
}
.caja{
    background-color: rgb(70, 25, 218);
    height: 30%;
    margin: 5%;
    margin-top: 5%;
    border: 5px solid #000;
}
@media (min-whidth: 480px){
    .pie{
        background-color:yellow;
        color:sienna;
        padding: 10%;
    }
}
