*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Courier New', Courier, monospace;
}
.input{
    margin: 10px;
    padding: 10px;
}
.input:hover{
    background-color: cornflowerblue;
}
.identificacion{
    padding: 2%;
}
input:focus{
    
}